<html>
    <head>
    </head>
    <body>
        <h1>Welcome <%= name %></h1>
         <h3>Welcome <%= details.age %></h3>
          <h3>Welcome <%= details.hobbies %></h3>
           <ul>
            <% details.hobbies.forEach(function(item){ %>
                <li> <%= item %> </li>
           <% }) %>
           </ul>
    </body>
</html>